:root {
    --omap-primary-color: #0000fe;
	--omap-success-color: #18a058;
	--omap-warning-color: #f0a020;
	--omap-error-color: #d03050;

    --omap-text-color: #000000;

    --omap-common-bgColor: #FFFFFF;

    --omap-popup-borderRadius: 5px;
    --omap-popup-padding: 5px 10px;

}

/* 弹窗默认样式 */
.omap-popup-default-element {
    background-color: var(--omap-common-bgColor);
    border-radius: var(--omap-popup-borderRadius);
    padding: var(--omap-popup-padding);
    box-sizing: border-box;
    color: var(--omap-text-color);
    pointer-events: auto;
}

.omap-popup-selectable {
    user-select: text;
}

.omap-popup-default-element::before {
    content: '';
    position: absolute;
    bottom: -15px; /* 增加了5px，使三角形位置稍下移 */
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-top: 12px solid var(--omap-common-bgColor); /* 增大顶部边框以增加三角形大小 */
    border-bottom: 6px solid transparent; /* 增大底部边框宽度，保持透明 */
    border-right: 6px solid transparent; /* 增大右边框宽度，保持透明 */
    border-left: 6px solid transparent; /* 添加左边框并保持透明，确保三角形居中 */
}